body{
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.container-principal{
    size: 800px, 600px;
}

#btn-transaccion{
    border-radius: 10px 0px 10px 0px;
}

.container-main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-i{
    display: grid;
}
.btn-d{
    display: grid;
}

#btn-retiro{
    border-radius: 0px 0px 0px 10px;
}
#btn-saldo{
    border-radius: 0px 0px 0px 10px;
}

#btn-clave{
    border-radius: 0px 10px 0px 0px;
}
#btn-otros{
    border-radius: 0px 10px 0px 0px;
}
#btn-cancelar{
    border-radius: 0px 10px 0px 0px;
}